<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="primary">Inicio General</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="primary">Inicio General</ion-title>
    </ion-toolbar>
  </ion-header>
<!--primera tarjeta-->
<ion-card>
  <img src="assets/05_qr.jpg" class="ion-padding imagen" width="400" height="300" style="display: block; margin-left: auto; margin-right: auto; ">
  <ion-card-header class="encabezado">
    <ion-card-subtitle style="color: blue; font-weight: bold;">Subete a bordo.</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="contenido">
    <p class="texto">
      Nuestra aplicación móvil permite a los docentes crear códigos QR de asistencia, y el alumno podra escanear el codigo QR.
    </p>
  </ion-card-content>
  <ion-button routerLink="/login" expand="block" color="primary" shape="round" class="ion-padding">
    Login
  </ion-button>

  <ion-button  routerLink="/registro" expand="block" color="primary" shape="round" class="ion-padding">
    Registro Docente
  </ion-button>
  <ion-button  routerLink="/registrar-alumno" expand="block" color="primary" shape="round" class="ion-padding">
    Registro Alumno
  </ion-button>
</ion-card>


  
  
</ion-content>
