.tituloPrincipal{
    color: green;
    font-weight: bold;

}
.menu{
    background-color:rgb(237, 237, 241);
    color: rgb(245, 245, 238);
}
.adentro{
    color:green;
    font-weight: bold;
}


ion-icon {
    font-size: 50px; 
    margin-right: 15px; 
  }
  
  