
  
/* Estilo personalizado para centrar el subtítulo */
.encabezado ion-card-subtitle {
  text-align: center;
}

.encabezado ion-card-title {
  text-align: center;
}

.contenido{
  background-color:rgb(219, 232, 235);
  color: yellow;
  top: 10px;
}
.titulo{
  color:#3880FF;
  font-weight: bold;
}

.bienvenida-usuario {
  padding: 10px;
  background-color: #3880ff; // Este es un color azul de Ionic, puedes cambiarlo por cualquier color que prefieras.
  color: white;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  font-size: 1.2em; // Ajusta el tamaño de la fuente según tus preferencias.
}