.titulo{
    color:blue;
    font-weight: bold;
}
.volver{
    color: blue;
    font-weight: bold;
}

.ion-input {
    color: blue;
    font-weight: bold;
}

ion-label {
    color: blue;
    font-weight: bold;
}